body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.responsive {
  width: 100%;
  max-width: 200px;
  height: auto;
  border: 2px solid #ccc; /* Çerçevenin kalınlığını ve rengini belirler */
}

/* Öncelikle, mouse üzerine gelindiğinde imleci değiştirelim */
.responsive:hover {
  cursor: pointer;
}



/* Ardından, tıklanmış hissi için bir efekt uygulayalım */
.responsive:active {
  transform: translateY(1px);
}